
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Desktop - 2</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Microsoft+YaHei+UI%3A400" />
    <link rel="stylesheet" href="./css/desktop-2.css" />
	

	
	
</head>
<body>
    <div class="desktop-2-V6V" style="width:1600px">
        <div class="header-bar-14q"><a href="/Home" style="text-decoration:none; color:white">HOME</a> &gt; ABOUT</div>
        <div class="about-info-q3s">
            <p class="about-us-rajkots-famous-twilicious-the-bake-shop-has-been-delighting-hearts-since-2018-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-Kzd">
                <span class="about-us-rajkots-famous-twilicious-the-bake-shop-has-been-delighting-hearts-since-2018-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-Kzd-sub-0">
                    ABOUT US
                    <br />

                </span>
                <span class="about-us-rajkots-famous-twilicious-the-bake-shop-has-been-delighting-hearts-since-2018-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-Kzd-sub-1">

                    <br />

                </span>
                <span class="about-us-rajkots-famous-twilicious-the-bake-shop-has-been-delighting-hearts-since-2018-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-Kzd-sub-2">Rajkot&#39;s famous Twilicious-The Bake Shop has been delighting hearts since 2018. Baking is our passion and we celebrate being part of your happy moments. It&#39;s a one stop shop for delightful cakes, irresistible pastries, baked to perfection biscuits &amp; cookies, mouth watering chocolates both home-made and imported from far and wide. Huge variety and choices of goodies offers a treat to everyone.</span>
            </p>
        </div>
    </div>
</body>
</html>
