@model IEnumerable<Products>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="#000000" />
	<title>Desktop - 11</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A300%2C400%2C500" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500" />
	<link rel="stylesheet" href="./css/desktop-11.css" />
</head>
<body>
	<div class="desktop-11-zYV" style="width:1600px">
		

			<div class="line-7-pXX">
			</div>
			<img class="frame-12-MnM" src="./assets/frame-12.png" />
			<p class="shopping-cart-1-5yF">Shopping Cart (1)</p>
			<div class="rectangle-18-ZNd">
			</div>

			<p class="item-1000-FWM">1598</p>
			<p class="item-1-ANR">2</p>
			<p class="total-quantity-gLm">Total Quantity</p>
			<p class="total-amount-oRP">Total Amount</p>
			<p class="summary-69b">Summary</p>
			<div class="pincode-box-oph">
				<div>
				</div>

				
				<button class="log-in-btn-m4h" onclick="confirmOrder()">CONFIRM ORDER</button>

				<script>
					function confirmOrder() {
						alert("Your Order is confirmed!");
					}
				</script>

			</div>
			<div class="line-9-Ruw">
			</div>
			<div class="shopping-cart-1-7Gy">
				<img class="jacob-thomas-6jhpcbpw7i8-unsplash-Zuf" src="./assets/jacob-thomas-6jhpcbpw7i8-unsplash-cnh.png" />
				<div class="auto-group-tiq2-57K">
					<p class="yummylicious-chocolate-cake-estimated-delivery-today-op1">
						<span class="yummylicious-chocolate-cake-estimated-delivery-today-op1-sub-0">
							Yummylicious Chocolate cake
							<br />

						</span>
						<span class="yummylicious-chocolate-cake-estimated-delivery-today-op1-sub-1">Estimated Delivery: </span>
						<span class="yummylicious-chocolate-cake-estimated-delivery-today-op1-sub-2">
							Today
							<br />

						</span>
					</p>
					<div class="auto-group-9xgg-365">

						<div class="group-21639-BV7">
							<img class="rupee-symbol-black-1-hTT" src="./assets/rupee-symbol-black-1-KGh.png" />
							<p class="item-1000-Dwb">799</p>
						</div>
						<div class="auto-group-wdwt-ZkZ">
							@* <img class="edit-2-tXw" src="./assets/edit-2-A6H.png" />
						<p class="edit-zqs">Edit</p> *@
							<img class="trash-2-k4M" src="./assets/trash-2.png" />
							<p class="remove-5cR">Remove</p>
						</div>
					</div>
				</div>
			</div>
			<div class="shopping-cart-1-nmj">
				<div class="auto-group-cvek-SrH">
					<img class="jacob-thomas-6jhpcbpw7i8-unsplash-n9T" src="./assets/jacob-thomas-6jhpcbpw7i8-unsplash.png" />
					<img class="cake05-600x600-JtV" src="./assets/cake05-600x600.png" />
				</div>
				<div class="auto-group-grhw-2Zb">
					<p class="yummylicious-chocolate-cake-estimated-delivery-today-mn5">
						<span class="yummylicious-chocolate-cake-estimated-delivery-today-mn5-sub-0">
							Yummylicious Chocolate cake
							<br />

						</span>
						<span class="yummylicious-chocolate-cake-estimated-delivery-today-mn5-sub-1">Estimated Delivery: </span>
						<span class="yummylicious-chocolate-cake-estimated-delivery-today-mn5-sub-2">
							Today
							<br />

						</span>
					</p>
					<div class="auto-group-rqql-ptm">
						@*  <div class="box-ABw">
					<img class="plus-square-4YD" src="./assets/plus-square.png" />
					<div class="minus-square-zRs">1</div>
					<img class="minus-square-QkV" src="./assets/minus-square.png" />
					</div> *@
						<div class="group-21639-Mvd">
							<img class="rupee-symbol-black-1-uBT" src="./assets/rupee-symbol-black-1-pjF.png" />
							<p class="item-1000-pJR">799</p>
						</div>
						<div class="auto-group-wuiu-72d">
							@* <img class="edit-2-4Tf" src="./assets/edit-2.png" />
						<p class="edit-kLV">Edit</p> *@
							<img class="trash-2-69T" src="./assets/trash-2-dmF.png" />
							<p class="remove-pr9">Remove</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	</html>