<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Desktop - 14</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500" />
    <link rel="stylesheet" href="./css/desktop-14.css" />
</head>
<body>
    <div class="desktop-14-t3f" style="width:1600px">
        <div class="header-bar-D5w"><a href="/Home" style="text-decoration:none; color:white">HOME</a> &gt; CONTACT US</div>
   
        <p class="contact-us-5dw">Contact Us </p>
        <form method="post" action="mailto:zamirparasara@gmail.com" enctype="text/plain">
            <div class="auto-group-ng8u-cNy">
                <div class="line-4-YnR"></div>
                <div class="auto-group-qxoa-gNq">
                    <p class="first-name-D7s">
                        <span class="first-name-D7s-sub-0">*</span>
                        <span class="first-name-D7s-sub-1">First</span>
                        <span class="first-name-D7s-sub-3">Name</span>
                    </p>
                    <p class="last-name-1T3">
                        <span class="last-name-1T3-sub-0">*</span>
                        <span class="last-name-1T3-sub-1">Last</span>
                        <span class="last-name-1T3-sub-2"> </span>
                        <span class="last-name-1T3-sub-3">Name</span>
                    </p>
                </div>
                <p class="email-address-9Sm">
                    <span class="email-address-9Sm-sub-0">*</span>
                    <span class="email-address-9Sm-sub-1">Email Address</span>
                </p>
                <p class="enquriy-u4Z">
                    <span class="enquriy-u4Z-sub-0">*</span>
                    <span class="enquriy-u4Z-sub-1">Enquiry</span>
                </p>
                <div class="auto-group-v3mw-iGu">
                    <input type="text" name="first_name" style="font-size:2.8rem;" class="rectangle-12-r8D" />
                    <input type="text" name="last_name" style="font-size:2.8rem;" class="rectangle-15-wfT" />
                </div>
                <input type="email" name="email" style="font-size:2.8rem;" class="rectangle-13-UQV">
                <input type="text" name="enquiry" style="font-size:2.8rem;" class="auto-group-xnyt-ayK" src="./assets/auto-group-xnyt.png" />
                <div class="log-in-btn-v1b">
                    <div class="rectangle-9-T1X"></div>
                    <button type="submit" class="submit-abw" style="text-decoration:none; background:none; color:white">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
