
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-L4m {
  width: 1600px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f5f3f3;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 {
  width: 187.1463rem;
  height: 118.5611rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .group-1-9iM {
  width: 115.7rem;
  height: 32.6rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .group-1-9iM .auto-group-xxnq-xvh {
  margin-right: 4.4rem;
  width: 64.2rem;
  height: 100%;
  position: relative;
  border-bottom: solid 0.2rem #573f2f;
  box-sizing: border-box;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .group-1-9iM .auto-group-xxnq-xvh .home-4D3 {
  width: 6.7rem;
  height: 2.7rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #280506;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .group-1-9iM .auto-group-xxnq-xvh .pink-cupcake-bakery-logo-template-made-with-postermywall-1-5tq {
  width: 61.8rem;
  height: 32.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .group-1-9iM .about-us-MLZ {
  margin: 13.1rem 4.3rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #280506;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .group-1-9iM .products-4Ey {
  margin: 12.9rem 3.5rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #280506;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .group-1-9iM .contact-us-aDK {
  margin-top: 13.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #280506;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb {
  width: 187.1463rem;
  height: 111.2635rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .pink-cupcake-bakery-logo-template-made-with-postermywall-1-1ZX {
  width: 48.9rem;
  height: 21.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .rectangle-30-421 {
  width: 143.7rem;
  height: 81.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #512026;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .rectangle-31-xNH {
  width: 82.4918rem;
  height: 111.2635rem;
  position: absolute;
  left: 94.3545rem;
  top: 0;
  background-color: #fee2e2;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .special-cake-grab-now-V7K {
  width: 60.2rem;
  height: 24rem;
  position: absolute;
  left: 17.7rem;
  top: 28.1rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .group-21640-auT {
  width: 58.1rem;
  height: 3.1rem;
  position: absolute;
  left: 34.3rem;
  top: 3.8rem;
  display: flex;
  align-items: center;

}
	
		.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .group-21640-auT .home-K6M {
  margin-right: 4.5rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .group-21640-auT .about-us-rMB {
  margin: 0rem 4.3rem 0.2rem 0rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .group-21640-auT .products-xf7 {
  margin: 0rem 3.5rem 0.4rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .group-21640-auT .contact-us-g5K {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .order-cart-cUm {
  width: 21.5rem;
  height: 5.7rem;
  position: absolute;
  left: 24.9rem;
  top: 58.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fee2e2;
  border-radius: 1rem;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .order-cart-G3X {
  width: 10.7649rem;
  height: 4.4rem;
  position: absolute;
  left: 130.9rem;
  top: 1.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #512026;
  border-radius: 1rem;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .chocolate-cake-with-dried-fruit-removebg-preview-1-L3P {
  width: 63.9rem;
  height: 45.4rem;
  position: absolute;
  left: 74.3rem;
  top: 22.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-L4m .auto-group-8wcq-Fb3 .home-UZb .cart-outline-Dss {
  width: 3.2813rem;
  height: 3.2812rem;
  position: absolute;
  left: 125.0177rem;
  top: 2.5177rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-L4m .auto-group-fhme-Kvu {
  box-sizing: border-box;
  padding: 6.639rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 {
  margin: 0rem 7.2rem 12.685rem 8.8rem;
  width: calc(100% - 16rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .featured-category-featured-category-allows-to-display-selected-on-your-homepage-NeH {
  margin: 0rem 1.8rem 4.3rem 0rem;
  max-width: 79.3rem;
  text-align: center;
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.2000000246;
  color: #000000;
  font-family: Itim, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .featured-category-featured-category-allows-to-display-selected-on-your-homepage-NeH .featured-category-featured-category-allows-to-display-selected-on-your-homepage-NeH-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Itim, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .featured-category-featured-category-allows-to-display-selected-on-your-homepage-NeH .featured-category-featured-category-allows-to-display-selected-on-your-homepage-NeH-sub-1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #523536;
  font-family: Lacquer, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 55.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-tfet-LQ5 {
  margin-right: 10.7rem;
  width: 35.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-tfet-LQ5 .cart-box-Dim {
  box-sizing: border-box;
  padding: 0.977rem 1.152rem 5.935rem 1.152rem;
  width: 35.7rem;
  height: 52.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-tfet-LQ5 .cart-box-Dim .rectangle-21-4so {
  margin-bottom: 1.9535rem;
  width: 33.3968rem;
  height: 36.6279rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-tfet-LQ5 .cart-box-Dim .chocolate-cake-BBj {
  margin: 0rem 0rem 1.207rem 0.461rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-tfet-LQ5 .cart-box-Dim .auto-group-swtq-Vy7 {
  margin: 0rem 25.242rem 0rem 0.691rem;
  width: calc(100% - 25.9329rem);
  display: flex;
  align-items: flex-end;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-tfet-LQ5 .cart-box-Dim .auto-group-swtq-Vy7 .rupee-symbol-black-1-qGH {
  margin: 0rem 0.461rem 0.048rem 0rem;
  width: 2.3032rem;
  height: 2.4419rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-tfet-LQ5 .cart-box-Dim .auto-group-swtq-Vy7 .item-799-zS1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-tfet-LQ5 .order-cart-Pyw {
  width: 24.6rem;
  height: 6.2rem;
  position: absolute;
  left: 5.6rem;
  top: 49.1rem;
  font-size: 3.1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43141b;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-mczy-SBX {
  margin-right: 10.1rem;
  width: 35.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-mczy-SBX .cart-box-P6m {
  box-sizing: border-box;
  padding: 0.977rem 1.152rem 5.935rem 1.152rem;
  width: 35.7rem;
  height: 52.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-mczy-SBX .cart-box-P6m .rectangle-21-Hxq {
  margin-bottom: 1.9535rem;
  width: 33.3968rem;
  height: 36.6279rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-mczy-SBX .cart-box-P6m .chocolate-cake-dG1 {
  margin: 0rem 0rem 1.207rem 0.461rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-mczy-SBX .cart-box-P6m .auto-group-dxrc-vku {
  margin: 0rem 25.242rem 0rem 0.691rem;
  width: calc(100% - 25.9329rem);
  display: flex;
  align-items: flex-end;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-mczy-SBX .cart-box-P6m .auto-group-dxrc-vku .rupee-symbol-black-1-eB7 {
  margin: 0rem 0.461rem 0.048rem 0rem;
  width: 2.3032rem;
  height: 2.4419rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-mczy-SBX .cart-box-P6m .auto-group-dxrc-vku .item-799-kV3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-mczy-SBX .order-cart-TPT {
  width: 24.6rem;
  height: 6.2rem;
  position: absolute;
  left: 5.6rem;
  top: 49.1rem;
  font-size: 3.1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43141b;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-adde-uFT {
  width: 35.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-adde-uFT .cart-box-rRb {
  box-sizing: border-box;
  padding: 0.977rem 1.152rem 5.935rem 1.152rem;
  width: 35.7rem;
  height: 52.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-adde-uFT .cart-box-rRb .rectangle-21-yFK {
  margin-bottom: 1.9535rem;
  width: 33.3968rem;
  height: 36.6279rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-adde-uFT .cart-box-rRb .chocolate-cake-gfX {
  margin: 0rem 0rem 1.207rem 0.461rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-adde-uFT .cart-box-rRb .auto-group-p7pp-R7K {
  margin: 0rem 25.242rem 0rem 0.691rem;
  width: calc(100% - 25.9329rem);
  display: flex;
  align-items: flex-end;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-adde-uFT .cart-box-rRb .auto-group-p7pp-R7K .rupee-symbol-black-1-MWm {
  margin: 0rem 0.461rem 0.048rem 0rem;
  width: 2.3032rem;
  height: 2.4419rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-adde-uFT .cart-box-rRb .auto-group-p7pp-R7K .item-799-fXT {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-2lnp-Rnu .auto-group-adde-uFT .order-cart-PTT {
  width: 24.6rem;
  height: 6.2rem;
  position: absolute;
  left: 5.6rem;
  top: 49.1rem;
  font-size: 3.1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43141b;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-mU1 {
  margin: 0.015rem 1.4rem 0rem 0rem;
  max-width: 45rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-mU1 .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-mU1-sub-0 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-mU1 .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-mU1-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-L3F {
  margin: 0.015rem 2rem 0rem 0rem;
  max-width: 45rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-L3F .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-L3F-sub-0 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-L3F .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-L3F-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-CDs {
  margin-bottom: 0.0153rem;
  max-width: 34.5rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-CDs .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-CDs-sub-0 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .feature-cat-rA9 .auto-group-l7lx-TTK .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-CDs .off-on-tank-tops-lorem-ipsum-dolor-sit-amet-adipiscing-elit-proin-ac-dictum-CDs-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .about-us-eVB {
  margin-bottom: 6.7rem;
  width: 144rem;
  height: 60.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .about-us-eVB .welcome-to-the-cake-counter-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-great-taste-blended-with-lots-of-love-is-our-perfect-recipe-to-bring-smiles-on-the-faces-of-our-dear-and-loyal-customers-we-just-do-not-sell-we-build-relationships-our-goodies-give-plenty-of-reasons-to-be-happy-and-indulge-in-merriment-LN1 {
  width: 63.2rem;
  height: 39.6rem;
  position: absolute;
  left: 73.55rem;
  top: 9.7rem;
  text-align: center;
  font-size: 3.1rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .about-us-eVB .welcome-to-the-cake-counter-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-great-taste-blended-with-lots-of-love-is-our-perfect-recipe-to-bring-smiles-on-the-faces-of-our-dear-and-loyal-customers-we-just-do-not-sell-we-build-relationships-our-goodies-give-plenty-of-reasons-to-be-happy-and-indulge-in-merriment-LN1 .welcome-to-the-cake-counter-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-great-taste-blended-with-lots-of-love-is-our-perfect-recipe-to-bring-smiles-on-the-faces-of-our-dear-and-loyal-customers-we-just-do-not-sell-we-build-relationships-our-goodies-give-plenty-of-reasons-to-be-happy-and-indulge-in-merriment-LN1-sub-0 {
}
.desktop-1-L4m .auto-group-fhme-Kvu .about-us-eVB .welcome-to-the-cake-counter-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-great-taste-blended-with-lots-of-love-is-our-perfect-recipe-to-bring-smiles-on-the-faces-of-our-dear-and-loyal-customers-we-just-do-not-sell-we-build-relationships-our-goodies-give-plenty-of-reasons-to-be-happy-and-indulge-in-merriment-LN1 .welcome-to-the-cake-counter-baking-is-our-passion-and-we-celebrate-being-part-of-your-happy-moments-its-a-one-stop-shop-for-delightful-cakes-irresistible-pastries-baked-to-perfection-biscuits-cookies-mouth-watering-chocolates-both-home-made-and-imported-from-far-and-wide-huge-variety-and-choices-of-goodies-offers-a-treat-to-everyone-great-taste-blended-with-lots-of-love-is-our-perfect-recipe-to-bring-smiles-on-the-faces-of-our-dear-and-loyal-customers-we-just-do-not-sell-we-build-relationships-our-goodies-give-plenty-of-reasons-to-be-happy-and-indulge-in-merriment-LN1-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .about-us-eVB .item-2150735012-eSZ {
  width: 53.7rem;
  height: 58.4rem;
  position: absolute;
  left: 8.8rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .about-us-eVB .about-our-shop-Jn1 {
  width: 35.9rem;
  height: 10.4rem;
  position: absolute;
  left: 87.2rem;
  top: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR {
  margin: 0rem 7.1rem 19.9rem 7.1rem;
  width: calc(100% - 14.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .our-products-Upu {
  margin-bottom: 3.6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Itim, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .our-products-Upu .our-products-Upu-sub-0 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: JejuHallasan, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .our-products-Upu .our-products-Upu-sub-1 {
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 43rem;
  display: flex;
  column-gap: 1.9rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-hLH {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-hLH .rectangle-21-C29 {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-hLH .chocolate-cake-XaD {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-hLH .auto-group-yx7z-d7T {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-hLH .auto-group-yx7z-d7T .rupee-symbol-black-1-jRP {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-hLH .auto-group-yx7z-d7T .item-799-TcH {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-Mhf {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-Mhf .rectangle-21-UGV {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-Mhf .chocolate-cake-DE5 {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-Mhf .auto-group-tnzi-LZb {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-Mhf .auto-group-tnzi-LZb .rupee-symbol-black-1-eqB {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-Mhf .auto-group-tnzi-LZb .item-799-z8M {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-3sK {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-3sK .rectangle-21-asF {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-3sK .chocolate-cake-885 {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-3sK .auto-group-cunk-SPf {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-3sK .auto-group-cunk-SPf .rupee-symbol-black-1-ZUH {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-3sK .auto-group-cunk-SPf .item-799-Vcq {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-QUu {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-QUu .rectangle-21-LNZ {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-QUu .chocolate-cake-sdP {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-QUu .auto-group-8fic-omw {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-QUu .auto-group-8fic-omw .rupee-symbol-black-1-kBP {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-aflg-CuK .cart-box-QUu .auto-group-8fic-omw .item-799-TLh {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 43rem;
  display: flex;
  column-gap: 1.9rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-tB7 {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-tB7 .rectangle-21-zV3 {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-tB7 .chocolate-cake-t4d {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-tB7 .auto-group-q66y-Qof {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-tB7 .auto-group-q66y-Qof .rupee-symbol-black-1-9WM {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-tB7 .auto-group-q66y-Qof .item-799-4dK {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-zms {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-zms .rectangle-21-jUZ {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-zms .chocolate-cake-US9 {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-zms .auto-group-ymhn-cHT {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-zms .auto-group-ymhn-cHT .rupee-symbol-black-1-vZ3 {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-zms .auto-group-ymhn-cHT .item-799-fFj {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-PxR {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-PxR .rectangle-21-A61 {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-PxR .chocolate-cake-u3b {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-PxR .auto-group-nfxg-2tu {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-PxR .auto-group-nfxg-2tu .rupee-symbol-black-1-ZP3 {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-PxR .auto-group-nfxg-2tu .item-799-fBB {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-nWh {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-nWh .rectangle-21-7Yy {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-nWh .chocolate-cake-RpZ {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-nWh .auto-group-cprr-LRj {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-nWh .auto-group-cprr-LRj .rupee-symbol-black-1-r9B {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-bcsg-NTf .cart-box-nWh .auto-group-cprr-LRj .item-799-nHj {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms {
  width: 100%;
  height: 43rem;
  display: flex;
  column-gap: 1.9rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-bW5 {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-bW5 .rectangle-21-XPj {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-bW5 .chocolate-cake-q9X {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-bW5 .auto-group-nrwx-XY9 {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-bW5 .auto-group-nrwx-XY9 .rupee-symbol-black-1-GVj {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-bW5 .auto-group-nrwx-XY9 .item-799-CuB {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-kA1 {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-kA1 .rectangle-21-H9w {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-kA1 .chocolate-cake-C21 {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-kA1 .auto-group-quk8-j1w {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-kA1 .auto-group-quk8-j1w .rupee-symbol-black-1-FW5 {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-kA1 .auto-group-quk8-j1w .item-799-Ad3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-JDT {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-JDT .rectangle-21-RJ5 {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-JDT .chocolate-cake-AWZ {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-JDT .auto-group-5fsc-FH7 {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-JDT .auto-group-5fsc-FH7 .rupee-symbol-black-1-yyo {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-JDT .auto-group-5fsc-FH7 .item-799-KXs {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-FRX {
  box-sizing: border-box;
  padding: 0.8rem 1rem 4.3rem 1rem;
  width: 31rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-FRX .rectangle-21-LSy {
  margin-bottom: 1.6rem;
  width: 29rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-FRX .chocolate-cake-rw7 {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-FRX .auto-group-wyjz-zGd {
  margin: 0rem 21.3rem 0rem 0.6rem;
  width: calc(100% - 21.9rem);
  display: flex;
  align-items: center;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-FRX .auto-group-wyjz-zGd .rupee-symbol-black-1-8dj {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .products-azR .auto-group-czxr-Jms .cart-box-FRX .auto-group-wyjz-zGd .item-799-rJq {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF {
  margin-left: 0.4rem;
  box-sizing: border-box;
  padding: 11.9rem 7.6rem 3.4rem 5rem;
  width: 144rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq {
  margin-bottom: 6.2rem;
  width: 100%;
  height: 17.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q {
  box-sizing: border-box;
  padding: 1.5rem 11.2rem 1.8rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-L4m {
	width: 100%; /* Make the container fluid */
	max-width: 1600px; /* Limit the maximum width */
}

img {
	max-width: 100%;
	height: auto;
}

.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .auto-group-rxbv-8vZ {
  margin: 7.1rem 0.4rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .auto-group-rxbv-8vZ .phone-5qo {
  margin-bottom: 2.7rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .auto-group-rxbv-8vZ .mail-1jT {
  width: 2rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP {
  margin-right: 6.5rem;
  max-width: 49.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP-sub-0 {
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP-sub-2 {
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP-sub-3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP .address-plot-no-p207-abgate-no-1-metoda-gidc-kalawad-roadrajkotgujrat-india-360002-call-us-919714418423-email-infothecakecountercom-YjP-sub-4 {
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .information-about-us-products-contact-us-terms-conditions-rGD {
  max-width: 18.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .information-about-us-products-contact-us-terms-conditions-rGD .information-about-us-products-contact-us-terms-conditions-rGD-sub-0 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .information-about-us-products-contact-us-terms-conditions-rGD .information-about-us-products-contact-us-terms-conditions-rGD-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .information-about-us-products-contact-us-terms-conditions-rGD .information-about-us-products-contact-us-terms-conditions-rGD-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-q6xl-26q .information-about-us-products-contact-us-terms-conditions-rGD .information-about-us-products-contact-us-terms-conditions-rGD-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-6hjz-6TP {
  width: 43.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-6hjz-6TP .newsletter-join-69000-subscribers-get-a-new-discount-coupon-every-monday-cwX {
  margin: 0rem 2.9rem 3.6rem 0rem;
  max-width: 35.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-6hjz-6TP .newsletter-join-69000-subscribers-get-a-new-discount-coupon-every-monday-cwX .newsletter-join-69000-subscribers-get-a-new-discount-coupon-every-monday-cwX-sub-0 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-6hjz-6TP .newsletter-join-69000-subscribers-get-a-new-discount-coupon-every-monday-cwX .newsletter-join-69000-subscribers-get-a-new-discount-coupon-every-monday-cwX-sub-1 {
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-6hjz-6TP .email-box-hLh {
  box-sizing: border-box;
  padding-left: 2.4rem;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  border: solid 0.2rem rgba(101, 57, 61, 0.6999999881);
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-6hjz-6TP .email-box-hLh .enter-your-email-pAR {
  margin: 0rem 18.5rem 0.3rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #b9b7b7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-6hjz-6TP .email-box-hLh .auto-group-h1ac-9Ch {
  box-sizing: border-box;
  padding: 2.3rem 2.6rem 2.2rem 2.1rem;
  height: 100%;
  background-color: #65393d;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .auto-group-des8-sUq .auto-group-6hjz-6TP .email-box-hLh .auto-group-h1ac-9Ch .mail-fB3 {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .line-3-9M7 {
  margin: 0rem 0rem 3.4rem 2.2rem;
  width: 129.2rem;
  height: 0.1rem;
  background-color: #cecaca;
  flex-shrink: 0;
}
.desktop-1-L4m .auto-group-fhme-Kvu .footer-bar-ZDF .copyright-2024-the-cake-counter-inc-all-right-reserved-s2D {
  margin-left: 3.1rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #595959;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
